
<h2>Login Page</h2>

<hr>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-4">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default" id="loginButton"
                    ng-click="login()" data-loading-text="Signing in...">Sign in</button>
        </div>
    </div>
    <p ng-show="error" class="alert alert-warning">{{error}}</p>
</form>