<!-- introduction and survey entrance -->
<div class="col-md-4">
    <h2>AngularFire Survey</h2>
    <hr>
    <ul>
        <li>An open source online survey tool.</li>
        <li>Based on AngularFire, AngularJS and Firebase.</li>
        <li>Easy to set up without worrying about server code.</li>
    </ul>
    <hr>
    <button type="button" class="btn btn-primary pull-right" ng-click="takeSurvey()">Take the Survey</button>
    </div>
</div>

<!-- survey detail modal -->
<div class="modal fade" id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Survey Test</h4>
            </div>
            <div class="modal-body">
                <!-- open question -->
                <div>
                    <h3>What is your name?</h3>
                    <input type="text" ng-model="newName" placeholder="Enter a name here">
                </div>
                <!-- radio choice question -->
                <div>
                    <h3>What is your age?</h3>
                    <div class="radio">
                        <input type="radio" ng-model="newAge" value="16-25">16-25<br/>
                        <input type="radio" ng-model="newAge" value="26-35">26-35<br/>
                        <input type="radio" ng-model="newAge" value="36-45">36-45<br/>
                        <input type="radio" ng-model="newAge" value="46+">46+<br/>
                    </div>
                </div>
                <!-- toggle choice question -->
                <div>
                    <h3>Will you buy me a dinner?</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="newDinner" btn-radio="'Yes'">YES</button>
                        <button type="button" class="btn btn-primary" ng-model="newDinner" btn-radio="'No'">NO</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addSurvey()">Send results</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
